*{
margin: 0;
padding: 0;
}
.verification-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    --color: rgba(235, 181, 232, 0.225);
  background-color: #f3f5f5;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
  }
  .form-container {
    box-shadow: 0 4px 20px rgba(6, 6, 6, 0.2); /* Soft shadow for depth */
    padding: 20px;
    background-color: #ffffff; /* White background for the form */
    border-radius: 8px; /* Rounded corners */
  }
  .verifybtn{
    background-color: #d685df;
    border: none;
    padding: 3px 6px 5px 6px;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 500;
  }
  .verifybtn:hover{
    color: black;
  }
  .form-title{
    color: #d685df;
  }
  
  p {
    color: #555; /* Text color for instructions */
    margin-bottom: 20px;
  }
  